h1{
    text-align: center;
    text-decoration: blue;
    font-style: bold;
}
.important{
    text-align: left;
    color:rgb(13, 13, 233);
    background-size: 75px;
    
}
body{
    background-color: grey;
}